#features {
  .detail {
    height: 94vh;
    padding-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-a {
      padding-right: 2rem;
      
      div {
        height: 33%;
        width: 8.5rem;
        padding: 1rem 0;
        text-align: center;

        span {
          font-size: var(--bigger-font-size);
          font-weight: $font-bold;
        }

        b {
          font-size: var(--big-font-size);
        }
      }
    }

    &-b {
      padding-left: 2rem;

      img {
        width: 300px;
      }
    }
  }
}